.viewdiv {
    border: 1px solid black;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 2%;
    background-color: white;
  }
  
  .button{
    margin-top: 10px;
  }

  